@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

body{
    font-family: "DM Sans";
    font-size: 18pt;
    text-align: justify;
}


.principal{
    text-align: center;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid #000;
    height: 200px;
    font-size: 35pt;
    color: white;
    text-shadow: 5px;
    text-shadow: color( rgb(145, 145, 145));
}

tr{
    align-content: center;
}

.postit {
    color: black;
    display: inline-block;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

header{
    font-family: "Domine";
    color: white;
    font-size: 28pt;
    text-align: left;
    align-content: center;
    background-color: rgb(96, 6, 6);
    width: 100%;
    height: 80px;
    padding-left: 20px;
    border-radius: 10px;
    display: block;
}

.titulo_tabla{
    font-size: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;

}

footer{
    font-size: 14pt;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
  }

#Boda{
    width: 100%;
    height: auto;
}

#proyecto{
    width: 100%;
    height: auto;
}

.list{
    color: darkred;
}